<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Correspondence" version="2.2.0.10" targetFramework="win81" />
  <package id="Correspondence.AllInOne" version="2.2.0.0" targetFramework="win81" />
  <package id="Correspondence.App" version="2.2.0.8" targetFramework="win81" />
  <package id="Correspondence.App.Core" version="2.2.0.8" targetFramework="win81" />
  <package id="Correspondence.Model" version="2.2.0.10" targetFramework="win81" />
  <package id="updatecontrols" version="2.3.0.4" targetFramework="win81" />
</packages>